    .offerTitle {
        text-align: center;
    }

    .field {
        padding: 10px 0;

        h3 {
            display: inline;
            margin-right: 10px;
        }

        border-bottom: 1px solid #dbdbdb;
    }